@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Love+Ya+Like+A+Sister|Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@400;600;700;800;900&family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Saira+Semi+Condensed:wght@400;600;700;900&family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Saira+Semi+Condensed:wght@400;600;700;900&family=Urbanist&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@400;600;700;800;900&family=Moon+Dance&family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Saira+Semi+Condensed:wght@400;600;700;900&family=Urbanist&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cookie&family=Montserrat:wght@400;600;700;800;900&family=Moon+Dance&family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Saira+Semi+Condensed:wght@400;600;700;900&family=Urbanist&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .landing{
      background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../media/pik.jpg');
      background-position: center;
      background-size: cover;
      height: 100vh;
      color: #f7f7f7;
  }
i{
  color: #f7f7f7;
}

.key1 ul li a{
  color: #f7f7f7;
}

.landing{
  display: flex;
  justify-content: center;
  align-items: center;
}

 .welcome{
  font-family: 'Abril Fatface', cursive;
  font-size: 8rem;
  color: #000;
  
}

.landing p{
  position: absolute;
  margin-top: 22%;
  color: #F7f7f7;
  font-size: 2.5rem;
  font-family: 'Cookie', cursive;
}
.landing p1{
  position: absolute;
  margin-top: 10%;
  color: #F7f7f7;
  font-size: 2.5rem;
  font-family: 'Cookie', cursive;
}

.landing p2{
  position: absolute;
  margin-top: 15%;
  color: #F7f7f7;
  font-size: 2.5rem;
  font-family: 'Cookie', cursive;
}



button.order{
  margin-top: 28%;
  position: absolute;
  padding: 15px 5px 15px 5px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  transition: 2s;
  background-color:#f7f7f7;
}

.order:hover{
  background-color:#F26430;
}
body {
  box-sizing: border-box;

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color:#000;
  margin: 8px;
  color: #f7f7f7;
  border-radius: 16px;
  font-size: 20px;
  
}

.card img{
  height: 300px;
  border-radius: 16px;
}

.card-footer{
  border-radius: 16px;
  background: #000;
  font-size: 20px;
}
.card-footer:hover{
  background: #A9927D;
}


.container {
  padding: 0 16px;
}

.steps1{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #F7F7F7;
}
.steps{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;
}

.steps-container{
  background: #000;
  border-radius: 16px;
}


.steps .box {
 flex: 1 1 2rem;
 padding:1rem;
 text-align: center; 
}

.steps .box img {
  border-radius: 50%;
  border: 0.5rem solid #fff;
  box-shadow: 0.5rem 0.9rem #F7F7F7;
}

.steps .box h3{
  font-size: 2rem;
  color: #F7F7F7;
  padding: 1rem;
}


#order-pizza {
  color: #f7f7f7;
}


#order-pizza {
  padding: 20px 50px 20px 50px;
  color: #f7f7f7;
 
}

.order-overlay {
  height: 550px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
}

#order-pizza {
  color: #f7f7f7;
}

#list li {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.order-summary h1, .summary, .contact {
  color: #000;
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
}


input[type="email"] {
  background: transparent;
  border: 1px solid #ffffff;
  padding: .8em .7em;
  border-radius: 20px;
  outline: none !important;
  font-size: 14px;
}

.click-me {
  margin-top: 20px;
  margin-bottom: 20px;
}

.get-pizza {
  margin-top: 40px;
}

.contact {
  padding-top: 20px;
}

.cdata {
  margin-top: 20px;
  margin-bottom: 15px;
}

.data {
  height: inherit;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
}

.go {
  border-radius: 20px;
}

.click-me, button[type=submit], .deliver, .delivernot {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  background-color: #FEEA00;
  outline: none;
  padding: 12.5px 13px;
  border: none;
  border-radius: 33px;
  font-size: 16px;
}
.deliver, .delivernot {
  margin: 10px;
}
label{
  color: #f7f7f7;
  font-size: 20px;
}

option{
  font-size: 30px;
  font-family: 'Moon Dance', cursive;
  background-color: #006E90;
  color: #000;
}

select{
  border-radius: 16px;
}

h4 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;

}

#order-pizza {
  padding: 20px 50px 20px 50px;
 
}

.order-overlay {
  height: inherit;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
}

.checkout {
  border-radius: 20px;
  margin-top: 20px;
}

#list {
  color: #000;
}

.flavour{
  width: 100%;
  padding: 20px 10px 10px 10px;
  border-radius: 16px;
}

.size{
  width: 100%;
  padding: 20px 10px 10px 10px;
  border-radius: 16px;
}

.crust{
  width: 100%;
  padding: 20px 10px 10px 10px;
  border-radius: 16px;
}

.topping{
  width: 100%;
  padding: 20px 10px 10px 10px;
  border-radius: 16px;
}

.number{
  width: 100%;
  padding: 20px 10px 10px 10px;
  border-radius: 16px;
}

.flavour:hover{
  background-color: #A9927D;
}
.size:hover{
  background-color: #A9927D;
}
.crust:hover{
  background-color: #A9927D;
}
.number:hover{
  background-color: #A9927D;
}
.topping:hover{
  background-color: #A9927D;
}

.picha-ya-nyuma{
  background: url('../media/picha.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.deliva{
  font-size:20px ;
}
.review .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #050505;
} 


.review .box-container .box{
  text-align: center;
  padding: 2rem;
  border: 0.1rem solid #f7f7f7;
  box-sizing: border-box;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
  border-radius: 3rem;
  flex: 1 1 20rem;
  background: #050505;
  margin-top: 5rem;
  flex-wrap: wrap;
  margin-bottom: 10px;

}
.cdata {
  margin-top: 20px;
  margin-bottom: 15px;
}




.review .box-container .box img{
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 0.5rem solid #f7f7f7;
  margin-top: -7rem;
  object-fit: cover;
}


.review .box-container .box h3{
  font-size: 2rem;
  color: #f7f7f7;
  padding: .5rem 0;
}


.review .box-container .star i{
  font-size: rem;
  color:gold;
  padding: .5rem 0;
}


.review .box-container .box p{
  font-size: 1rem;
  color: #f7f7f7;
  padding: 1rem 0;
}

.customer{
  display: flex;
  justify-content: center;
}

.icon{
  color: #d13531;
}

.fot{
  color: #f7f7f7;
}
@media (max-width:991px)
{
  body {
    background-color: blue;
  }
}



  @media screen and (max-width:1200px){
    
 .welcome{
  font-family: 'Abril Fatface', cursive;
  font-size: 8rem;
  margin-top:-30%;
  color: #000; 
}
.landing p1{
  position: absolute;
  margin-top: -9%;
  color: #F7f7f7;
  font-size: 2.5rem;
  font-family: 'Cookie', cursive;
}

.landing p2{
  position: absolute;
  margin-top: 1%;
  color: #F7f7f7;
  font-size: 2.5rem;
  font-family: 'Cookie', cursive;
}
.landing p{
  position: absolute;
  margin-top: 15%;
  color: #F7f7f7;
  font-size: 1.8rem;
  font-family: 'Cookie', cursive;
}

button.order{
  margin-top: 33%;
  position: absolute;
  gap: 1rem;
}

.menu-overlay {
  height: inherit;
  width: inherit;
  background-color: rgba(0, 0, 0, 0.7);
}

}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .welcome{
    font-family: 'Abril Fatface', cursive;
    font-size: 5rem;
    color: #000;
    margin-top: 1%;
  }
  
  .landing p{
    position: absolute;
    margin-top: 60%;
    color: #F7f7f7;
    font-size: 1.5rem;
    font-family: 'Cookie', cursive;
  }
  .landing p1{
    position: absolute;
    margin-top: 25%;
    color: #F7f7f7;
    font-size: 2.5rem;
    font-family: 'Cookie', cursive;
  }
  
  .landing p2{
    position: absolute;
    margin-top: 40%;
    color: #F7f7f7;
    font-size: 2.5rem;
    font-family: 'Cookie', cursive;
  }
  
  
  
  button.order{
    margin-top: 75%;
    position: absolute;
    padding: 15px 5px 15px 5px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    transition: 2s;
    background-color:#f7f7f7;
  }
  
}


  


  